<style>
     /* Links */
     a:hover {
         color: #562826;
     }
     /* Header on Startpage */
     #site-head {
         background-color: #94683b;
     }
     a.btn {
         color: white;
          background-color: #742c24;
     }
     a.btn:hover {
          background-color: #231E1A;
     }
     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #742c24;
     }
     a.fn-item:hover {
          color: #40a3ca;
     }
     /* Content / Sections */
     .post-holder.odd {
          background: #c08582;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }
     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #231E1A;
     }
</style>
