<style>
     /* Links */
     a:hover {
         color: #334948;
     }
     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #5C9C95;
     }
     a.btn:hover {
          background-color: #334948;
     }
     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #334948;
     }
     a.fn-item:hover {
          color: #5C9C95
     }
     /* Content / Sections */
     .post-holder.odd {
          background: #6B6052;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }
     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #334948;
     }
</style>
